<!-- dashboard.component.html - ELIMINAR CONTENEDORES EXTERNOS -->
<div class="container-fluid p-0"> <!-- Cambiado: p-0 para eliminar padding -->
  
  <!-- Navbar ahora ocupa todo el ancho -->
  <app-nav-bar></app-nav-bar>

  <!-- Widgets - mantener el contenedor aquí -->
  <div class="container-xxl px-3 px-md-4 py-3">
    <app-mixes-capsule></app-mixes-capsule>
    <app-recent-tracks></app-recent-tracks>
    <app-random-tracks></app-random-tracks>
    <app-auto-playlists></app-auto-playlists>
     <app-player-bar></app-player-bar>
  </div>  

</div>